/* Ellipse 10 */
body {
     margin: 0;
            padding: 0;
            min-height: 100vh; /* Facem ca body-ul să aibă înălțimea minimă a vizualizării pentru a umple întreaga înălțime a paginii */
            display: flex;
            flex-direction: column; /* Facem ca elementele să fie plasate în coloană */
    font-family: Arial, sans-serif;
    background-image: url('/home/eu/Documents/Feedback. file1/Feedback3.jpg');
    background-size: cover; /* pentru a asigura că imaginea se va întinde pe întreaga pagină */
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-position: center; /* pentru a centra imaginea pe pagina */
    color: #fff; /* pentru a asigura contrastul textului cu imaginea de fundal */
   
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.container2 {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    
    
}

/* header pag start */

header{
    color:white;
    padding: 20px 0;
    display:flex;
    justify-content: flex-end;
    
}

/* header pag diagrama plutchik */

header div h2 {
    color: black;
    padding: 20px 0;
    display:flex;
    justify-content: center;
        font-size: clamp (20px,10vw,50px);

    
}
header h1 {
    
    text-align: center;
    font-size: clamp (20px,10vw,50px);
}

header div i {
    float: right;
    margin-right: 20px;
}

header div nav ul {

     display: flex; 
     flex-direction:column;
     justify-content:flex-start ;

}


/* Stiluri pentru meniu */
#meniu {
    color: #fff;
    display: none;
    position: absolute;
    top: 150px;
    right: 0;
    width: 230px;
    padding-top: 30px;
    

    
}

#meniu:target {
    display: block;
}

/* Stiluri pentru butonul de meniu */
.meniu-buton {
    position: absolute;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



/* Stiluri pentru meniul drop-down */
#meniu ul {
    list-style-type: none;
    padding: 0;

}

#meniu ul li {
     padding: 0;
    
 
    
    
}

#meniu ul li a {
     color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;

}



#main-content {
     flex-grow: 1;
    padding: 20px;
}

footer {
        font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.plutchik_wheel {
  padding-left: 100px;
  align-items: center;
  height: 100vh; /* This ensures the container takes the full height of the viewport */
  position: relative; /* Asigură că butoanele sunt poziționate relativ la acest element */
}

.button {
  position: absolute;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}


.plutchik_wheel img {
  max-width: 100%; /* Ensure the image doesn't exceed the width of its container */
  max-height: 100%; /* Ensure the image doesn't exceed the height of its container */
  width: auto; /* Allow the image to scale proportionally with its container */
  height: auto; /* Allow the image to scale proportionally with its container */
  max-width: 800px; /* Maximum width of the image */
  max-height: 800px; /* Maximum height of the image */
  
}


